{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Cria Contato</title>
    <link rel="stylesheet"
    href="{% static 'contatos/css/estilo.css' %}">
    {% include 'contatos/header.html' %}
</head>
<body>
    {% include 'contatos/links.html' %}
    <h1>Cria um contato</h1>
    <form action="" method="POST">
    <fieldset style="width: max-content;">
    <legend>Formulário de Cadastro</legend>
    {% csrf_token %}
    <table class='formulario'>
    {{ formulario.as_table }}
    </table>
    <button type="submit">Cria contato</button>
    </fieldset>
    </form>
</body>
</html>
